<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="/">Libros</a>
            </div>
        </nav>
    </div>
    <div class="container">
        <h3 class="mt-4 p-4">Add an Author</h3>
        <div class="row">
            <div class="col-6 border">
                <form id = "form">
                    <div class="mb-3 mt-3">
                    <label for="nombre" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="nombre" id="nombre">
                    </div>
                    <div class="mb-3">
                    <label for="apellido" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="apellido" id="apellido">
                    </div>
                    <div class="mb-3">
                    <label for="comment">Notes</label>
                    <textarea class="form-control" rows="2" name="notas" id="notas"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>

<!---------------------------------------------------TABLA LIBROS-------------------------------------------------------->         
            <div class="col-6">
                <table class="table">
                    <thead class="table-secondary">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody class="table-danger" id="autores">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>